:root {
  --primary-clr: #2b2d42;
  --secondary-clr: #e86a92;
  --tertiary-clr: #329f5b;
  --accent-clr-one: #f7f7f9;
  --accent-clr-two: #0c8346;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-clr);
  margin: 0;
  min-height: 100svh;
  padding: 2rem;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.msg-output {
  color: green;
}

.board {
  background-color: var(--tertiary-clr);
  border: 1px black solid;
  width: fit-content;
}

.controls {
  padding: 4rem;
}

.row {
  display: flex;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--accent-clr-one);
  width: 100px;
  height: 100px;
  border: 1px black solid;
}
