body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100svh;
  padding: 2rem;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.msg-output {
  color: green;
}

.board {
  border: 1px black solid;
  width: fit-content;
}

.controls {
  padding: 4rem;
}

.row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px black solid;
}
